{% extends "base.html" %}

{% block title %}Home | deku{% endblock %}

{% block content %}

<section class="hero">
    <img id="profile" src="{{ url_for('static', filename='css/images/profile.jpg') }}" alt="Profile">

    <h2>Hey ! I'm deku aka Tohid</h2>
    <h3>First of all i am not a vibe coder then i am</h3>
    <h3>IT Trainer | Ethical Hacker | CTF Player | Programmer</h3>

    <p>
        Welcome To My Blog which is a clean place where i can share knowledge,
        tutorials, and personal experiences.
    </p>
</section>

<section class="posts">

    <article class="card">
        <img src="{{ url_for('static', filename='css/images/loginsystem.png') }}" alt="Login System">

        <div class="content">
            <span>July 22, 2026</span>

            <h3>Login System Using Python</h3>

            <p>
                Learn how planning before coding can dramatically improve your software projects.
            </p>

            <a href="{{ url_for('login_system_post') }}">
                <button>Read More</button>
            </a>
        </div>
    </article>

    <article class="card">
        <img src="https://picsum.photos/600/300?random=2" alt="">

        <div class="content">
            <span>July 18, 2026</span>

            <h3>Learning Python Efficiently</h3>

            <p>
                Small daily improvements are better than occasional marathon study sessions.
            </p>

            <button>Read More</button>
        </div>
    </article>

    <article class="card">
        <img src="https://picsum.photos/600/300?random=3" alt="">

        <div class="content">
            <span>July 15, 2026</span>

            <h3>Ultimate Cybersecurity Lab Setup</h3>

            <p>
                Minimal design helps readers focus on what truly matters—the content.
            </p>

            <button>Read More</button>
        </div>
    </article>

</section>

{% endblock %}
